<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Tooplate's Little Fashion</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet" href="static/css/slick.css"/>

        <link href="static\css\tooplate-little-fashion.css" rel="stylesheet">
<!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->

    </head>
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <strong><span>Little</span> Fashion</strong>
                    </a>

                    <div class="d-lg-none">
                        <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                        <a href="product-detail.html" class="bi-bag custom-icon"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/about.html' %}active{% endif %}" href="{% url 'about' %}">Story</a> <!-- url tagging(lec22) -->
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/products.html' %}active{% endif %}" href="products.html">Products</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/faq.html' %}active{% endif %}" href="faq.html">FAQs</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/contact.html' %}active{% endif %}" href="contact.html">Contact</a>
                            </li>
                        </ul>

                        <div class="d-none d-lg-block">
                            <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                            <a href="product-detail.html" class="bi-bag custom-icon"></a>
                        </div>
                    </div>
                </div>
            </nav>
