

<div >
    
    <div >
        <form method="post">
            {% csrf_token %} <!-- only when method=post -->
            <div>
                <label for="">Value1</label>
                <input type = 'text' name="num1" value="{{n1}}"/>
            </div>
            <label for=""> Select OPR...</label>
            <select name="opr" id="">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <div>
                <label for="">value2</label>
                <input type="text" name="num2" value="{{n2}}"/>
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
            output
            <input type="text" value="{{output}}"/>
        </form>
    </div>
</div>